<div class="contsiner-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="editAdForm">
                <img [src]="advertisement.imageUrl" alt="image">
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" rows="3" formControlName="description"></textarea>
              </div>   
              <button class="btn btn-primary" (click)="updateAdvertisement()">Update</button>
            </form>            
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>